<a href="https://colab.research.google.com/github/Camolas/ML_DOC/blob/master/InitialExperiments/Experi%C3%AAncias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np

In [8]:
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
#! pip install pandas
#! conda env list
#df = pd.read_csv("ComaSessions.csv")
#df.head()

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [13]:
url = 'https://raw.githubusercontent.com/Camolas/ML_DOC/master/Databases/SmartAvaliationPrototype.csv'

In [14]:
df1 = pd.read_csv(url)

In [15]:
df1.head()

   Order  ID  ...  BothRatersSession10  BothRatersCertainty10
0      1   1  ...                    2                    100
1      2   2  ...                    2                    100
2      3   3  ...                    2                    100
3      4   4  ...                    1                     80
4      5   5  ...                    2                    100

[5 rows x 148 columns]

In [17]:
from numpy import genfromtxt
my_data = genfromtxt('https://raw.githubusercontent.com/Camolas/ML_DOC/master/Databases/SmartAvaliationPrototype.csv', delimiter=',')

In [18]:
print(my_data)

[[ nan  nan  nan ...  nan  nan  nan]
 [  1.   1.   1. ... 100.   2. 100.]
 [  2.   2.   2. ... 100.   2. 100.]
 ...
 [ 33.  50.   2. ... 100.   2. 100.]
 [ 34.  51.   2. ... 100.   2. 100.]
 [ 35.  52.   2. ... 100.   2. 100.]]